{% load staticfiles %}
<head>
<title>Add Song</title>
<link rel="stylesheet" href="{% static 'music/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'music/detailJavascript.js' %}"></script>
</head>
<body>
<!-- <select name="album" ng-model="song.album" class="form-control" >
          {% for album in all_albums %}
              <option value="{{ album.album_title }}">{{ album.album_title }}</option>
          {%endfor%}    
          </select> -->
<div class="container" id="myModal" style="background-color: #D3D0CF;height: 300px;width: 40%;left: 30%;top:150px;position: fixed;">
    <h2>Add Song Here</h2>
   <form class="form-horizontal"  method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="file_type" >File Type:</label>
      <div class="col-sm-10">
         <input type="text" name="file_type" ng-model="song.song_title" class="form-control">
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="song_title" >Song Title:</label>
      <div class="col-sm-10">
        <input type="text" name="song_title" ng-model="song.song_title" class="form-control">
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="song_file" >Song File:</label>
      <div class="col-sm-10">
        <input type="file" name="song_file" data-bind-File ng-model="song.file" class="form-control" />

      </div>
      </div>
      <div class="col-sm-offset-2 col-sm-5">
        <button type="submit" class="form-control btn btn-danger">Submit</button>
      </div>
  </form>
       
</div>
</body>