{% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}/">
    <script type="text/javascript" src="{% static 'music/detailJavascript.js' %}"></script>
<div style="height: 82%;overflow-y: scroll;">
      <h2 style="font-family: cursive;">All Songs List</h2>
      <div class="row" style="width: 100%">
          {% for album in album %}
              <div class="col-sm-6" style="height: 400px; background-color: white;">
              {% with forloop.counter as myVar %}
                  <h2 style="font-family:cursive;left: 10%;">{{ album.album_title }}</h2>
                  <img style="height: 50px;width: 100px;left: 10%;" src="../{{album.album_logo.url}}">
              {% for song in album.song_set.all %}
                 <h3 id="{{ song.id }}" style="font-family: 'Rubik', cursive;left: 10%;">{{ forloop.counter }}. {{ song.song_title }}-{{ song.file_type }}
                  <span onclick="audioPlay({{ song.id }})"><i style="cursor: pointer;" class= "glyphicon glyphicon-play" onclick='giveUrl("{{ song.song_file.url }}")' ></i></span>
                 </h3>

              {% endfor %}
              {% endwith %}
              </div>
          {% endfor %}
      </div>
</div>
<div class="songContainer" style="height: 15%;width: 100%;background-color: coral;">
    <div id="songDetail">
        <h3>Please click on a song to play</h3>
    </div>
     <div style="text-align: center;">
    <audio style="height: 50px;width: 90%;border-radius: 2%;" id="audio" controls><source id="url" src="../../media/Hey_Mama.mp3" type="audio/mpeg"> </audio>
     </div>
</div>