{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="myApp">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}/">
{#<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>#}
{#<script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>#}
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{% static 'music/bower_components/semantic/dist/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'music/detailJavascript.js' %}"></script>
{# Vijendra Modal section#}
{% verbatim %}
<div id="whole" ng-controller = "faqCtrl">
<!-- <div class="container" id="myModal" style="display: none;z-index: 10;background-color: white;  height: 300px;width: 40%;left: 30%;top:150px;position: fixed;">
 <span id="close" class="close icon" style="cursor: pointer;">&times;</span>
    <h2>Add Album Here</h2>
  <form class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2" >Artist:</label>
      <div class="col-sm-10">
        <input type="text" ng-model="album.artist" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2"  >Album Title:</label>
      <div class="col-sm-10">
        <input type="text" ng-model="album.album_title" class="form-control" >
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" >Genre:</label>
      <div class="col-sm-10">
        <input type="text" ng-model="album.genre" class="form-control">
      </div>
      </div>
      <div class="form-group">
      <label class="control-label col-sm-2" >Album Logo:</label>
      <div class="col-sm-10">
        <input type="file" data-bind-File ng-model="album.logo" id="imagefile" class="form-control" />

      </div>
      </div>
  </form>
    <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger" ng-click="submit()">Submit</button>
      </div>
</div> -->
{% endverbatim %}
{#Vijendra Modal ends here#}
<p style="text-align: center; color: green;font-style: italic;font-size: large;" ng-if="message_update">Album Added Successfully</p>
<div id="indexPage"style="opacity: 1;">
<div class="row">
    <div class="col-sm-4"><h3 style="color: black;">Here are all my albums:</h3></div>
    <div class="col-sm-4"><a style="text-decoration: none;" href="/music/allsongs"><button class="btn btn-info">All Songs</button></a></div>
    <div class="col-sm-4"><a style="text-decoration: none;" href="/music/addAlbum"><button class="btn btn-info" id="albumButton">Add Album</button></a></div>
</div>

{% if all_albums %}
           <div class="row">
        {% for album in all_albums %}

              <div class="col-sm-4">
                  <img style="height: 240px;width: 320px;" src="../../{{ album.album_logo.url }}"/><br>
                  <h3>{{ album.album_title }}</h3>
                  <a style="text-decoration: none;color:white" href="{% url 'music:detail' album.id %}"><button class="btn btn-success">Open Album</button></a>
              </div>


        {% endfor %}
            </div>
{% else %}
    <h3>No Albums in Database</h3>
{% endif %}
</div>
</div>

<script>
 $(document).on("click", "#albumButton", function() {
      console.log("Pressed album button");
      var modal  = document.getElementById('myModal');
      var opacity  = document.getElementById('indexPage');
      modal.style.display = "block";
      opacity.style.opacity = "0.5";
      var span = document.getElementById("close");
      console.log(span);

span.onclick = function() {
  modal.style.display = "none";
  opacity.style.opacity = "1";
};

    });
</script>

</html>