{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="myApp">
<link rel="stylesheet" href="{% static 'music/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}/">
{#<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>#}
{#<script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>#}
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{% static 'music/bower_components/semantic/dist/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'music/detailJavascript.js' %}"></script>
{# Vijendra Modal section#}
{% verbatim %}
<div id="whole" ng-controller = "faqCtrl">
{% endverbatim %}
<div id="indexPage"style="opacity: 1;">
<div class="row">
    <div class="col-sm-4"><h3 style="color: black;">Here are all my albums:</h3></div>
    <div class="col-sm-4"><a style="text-decoration: none;" href="/music/allsongs"><button class="btn btn-info">All Songs</button></a></div>
    <div class="col-sm-4"><a style="text-decoration: none;" href="/music/addAlbum"><button class="btn btn-info" id="albumButton">Add Album</button></a></div>
</div>

{% if all_albums %}
           <div class="row">
        {% for album in all_albums %}
              <div class="col-sm-3">
                  <img style="height: 200px;width: 80%;border-radius: 5px;z-index: 3;border: outset;" src="../../{{ album.album_logo.url }}"/><br>
                  <a style="text-decoration: none;color:white" href="{% url 'music:detail' album.id %}"><button class="btn btn-success">{{ album.album_title }}</button></a>
              </div>
        {% endfor %}

            </div>
{% else %}
    <h3>No Albums in Database</h3>
{% endif %}
</div>
</div>

<script>
 $(document).on("click", "#albumButton", function() {
      console.log("Pressed album button");
      var modal  = document.getElementById('myModal');
      var opacity  = document.getElementById('indexPage');
      modal.style.display = "block";
      opacity.style.opacity = "0.5";
      var span = document.getElementById("close");
      console.log(span);

span.onclick = function() {
  modal.style.display = "none";
  opacity.style.opacity = "1";
};

    });
</script>

</html>