{% extends 'music/topbar.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
</head>
{% block body %}
<div style="position: relative;top: 78px;" class="mainPageBody">
        <br><br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div style="text-align: center;" class="col-sm-4">
                <a href="/music/"><button class="btn btn-success">Music</button></a>
                <a href="/video/" ><button class="btn btn-success">Video</button></a>
            </div>
        </div>
</div>
{% endblock %}
</html>