
.mainPageBody{background: white url("images/background1.jpg")}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

@media (max-width:  979px) {
.x-content-band.bg-image.parallax,
.x-content-band.bg-pattern.parallax {
  background-attachment: fixed !important;
}
}
