{% extends 'music/topbar.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videos</title>
    <link rel="stylesheet" href="{% static 'video/bootstrap.min.css' %}">
</head>
{% block body %}
    <div class="container-fluid" style="position: relative;top: 78px;">
          <h1>All videos</h1>
{#          <embed id="divxplayer" type="video/mp4" width="1024" height="768"#}
{#src ="../../media/The Bourne Identity 2002 (1080p x265 10bit Tigole).mkv" autoPlay=\"true\"></embed>#}
       <div class="row">
       {% for video in videos %}
           <div class="col-sm-4" style="height: 100px;">
{#           <video width="320" height="240" controls>#}
{#           <source src="{{ video.url }}" type="video/mp4">#}
{#          Your browser does not support the video tag.#}
{#           </video>#}
           <br>
           <a style="word-wrap: break-word; text-decoration: none;color: black; " href="{% url 'video:detail' video.key %}">{{ video.video }}</a>
               <br>
           <a style="text-decoration: none;" href="{{ video.url }}">Link</a>
           </div>
       {% endfor %}
        </div>
    </div>
{% endblock %}
</html>