<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
          <h1>You are here</h1>
{#          <embed id="divxplayer" type="video/mp4" width="1024" height="768"#}
{#src ="../../media/The Bourne Identity 2002 (1080p x265 10bit Tigole).mkv" autoPlay=\"true\"></embed>#}
<video width="320" height="240" controls>
  <source src="../../media/The Bourne Identity 2002 (1080p x265 10bit Tigole).mkv" type="video/mp4">
  Your browser does not support the video tag.
</video>
</body>
</html>